body{
  margin-left: 0;
  text-align: center;
  background-color: black;
  background-image:url(../images/hack.png);
  padding: 100px;
}
h1{
  font-family: serif;
  color: #660000;
  font-size: 40px;
  margin: auto;
  padding: 50px;
}
.text{
  background-color: black;
  margin: auto;
}
